CSS
/* Reset Basico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold';
    line-height: 1.6;
    font-size: 20px;
}
h1 {
    font-size: 40px;
}

/* Estilos do cabeçalho do site */
header {
    background: #080808;
    color: #fff;
    padding: 1rem;
    text-align: center;
}
nav ul {

list-style: none;

}

nav ul li {
 
display: inline;
margin: o 10px;   

}

nav ul li a {

color: #e3dcdc;
text-decoration: none;

}

img{
    width: 25%;
   
}
 
#nacional{
    width:2%;
}

#saopaulo{
    width:2%;
}

#saopaulo2{
    width:25%;
}

#izquierdo{
    width:15%;
}

#izquierdo2{
    width:15%;
}

#izquierdo3{
    width:15%;
}

.secao2 {
    background-color: #2c21ca;
    padding: 1rem;
    text-align: center;
}


footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
}